* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  color: white;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

.parentElement {
  padding: 4em;
  text-align: center;
}

.location, .temperature  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}